body{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(bgg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
 }
 .container{
    width: 360px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 5px;
    justify-content: center;
    text-align: center;
    ;
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(17, 238, 238);
    outline: none;
    font-size: 19px;


 }
 button{
    width: 60px;
    height: 41px;
    background-color: rgb(39, 219, 219);
    color: white;
    border: none;
    cursor: pointer;

    outline: none;
    border-radius: 2px;
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color: rgb(27, 241, 241);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }